Options +FollowSymLinks
RewriteEngine On
RewriteBase /sales_rep/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]

<IfModule php_module>
   php_flag display_errors On
   php_value max_execution_time 6000
   php_value max_input_time 6000
   php_value max_input_vars 3000
   php_value memory_limit 1024M
   php_value post_max_size 1024M
   php_value upload_max_filesize 1024M
</IfModule>
